.user-info {
  width: 480px;
  color: #bbb;
  &__title {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 1rem;
  }
}

.billing-checkbox {
  margin: 1rem;
  display: flex;
  align-items: center;
  input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: 2px solid #eee;

    padding: 9px;
    display: inline-block;
    &:checked {
      background-color: #b8d8be;
      border: 2px solid #b8d8be;
    }
  }
  label {
    margin-left: 1rem;
    letter-spacing: 1px;
    font-size: 14px;
  }
}
