.checkout-steps-btn {
  width: 100%;
  margin-left: auto;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: #b8d8be;
  color: #fff;
  transition: 0.25s ease-in;
  &:hover {
    background-color: #97c6a0;
  }
}
