.header {
  padding: 1rem;
  max-width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  .title {
    font-weight: 300;
    color: #bbb;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    span {
      color: #d2e7d6;
    }
  }
  .app-theme-link,
  .cart {
    color: #bbb;
    cursor: pointer;
    letter-spacing: 0.1rem;
    margin: 0 0.5rem;
    text-decoration: none;
  }
  .auth-link {
    margin-left: auto;
  }

  @media (max-width: 540px) {
    .title {
      font-size: 1.4rem;
    }
    .app-theme-link,
    .cart {
      font-size: 0.9rem;
    }
    .user-details {
      font-size: 0.9rem;
    }
  }
}
.user-details {
  display: flex;
  color: #bbb;
  margin-left: auto;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  .user-name {
    margin-right: 1rem;
  }
}
